<!-- templates/default/index.html.twig -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/0771433f3d.js" crossorigin="anonymous"></script>
    <title>Site de la commune de Orléans</title>
    <style>
        body {
            margin: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #33697d;
            height: 100vh;
            color: white;
        }

        .container {
            width: 80%;
            background-color: #33697d;
            height : 100% ;
        }

        table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px;
        }

    td {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

        th {
            background-color: #f2f2f2;
            color: black; /* Couleur du texte des noms de colonnes dans le tableau */
        }

        .button {
        color: white; /* Couleur du texte pour le lien "Ajouter un habitant" */
        text-decoration: none;
        background-color: #33697d; /* Couleur de fond pour le lien */
        padding: 10px; /* Ajoutez une marge intérieure au lien */
        border-radius: 5px; /* Ajoutez une bordure arrondie au lien */
    }

        .action-icons {
            display: flex;
            align-items: center;
            color: white;
            justify-content: flex-end; /* Aligner les icônes à droite */
        }

        .action-icons i {
            margin-left: 10px; /* Marge à gauche pour l'espace entre les icônes et le texte */
            cursor: pointer;
            color: white;
        }

        
        .page-title {
            text-align: center;
            margin-bottom: 20px;
        }

        /* Ajoutez ces styles pour le logo */
        .logo-container {
            position: absolute;
            top: 0;
            right: 0;
            padding: 10px;
        }

        .logo img {
            width: 100px; /* Ajustez la taille du logo selon vos besoins */
        }
    </style>
</head>
<body>
    <div class="container">
    <div class="page-title">
            <h1>Recensement de la ville d'Orléans</h1>
        </div>
        <div class="logo-container">
            <div class="logo">
                <img src="https://firebasestorage.googleapis.com/v0/b/wordenglish-4dc90.appspot.com/o/logo-metropole-removebg-preview.png?alt=media&token=63822150-a8ea-4f78-b983-e22736fe0c23" alt="Logo de la Mairie d'Orléans">
            </div>
        </div>
        <a href="{{ path('info_user', {'modify_id': ""}) }}" class="button">Ajouter un habitant</a>
        <table>
            <thead>
                <tr>
                    <th>Nom</th>
                    <th>Prénom</th>
                    <th>Date de naissance</th>
                    <th>Genre</th>
                    <th>Action</th> <!-- Déplacer la colonne "Action" à la fin -->
                </tr>
            </thead>
            <tbody>
                {% for habitant in habitants %}
                    <tr>
                        <td>
    <span>{{ habitant.getNom() }}</span>
</td>
<td>
    <span>{{ habitant.getPrenom() }}</span>
</td>
<td>
    <span>{{ habitant.getDateDeNaissance()|date('d/m/Y') }}</span>
</td>
<td>
    <span>{{ habitant.getGenre() }}</span>
</td>
                        <td class="action-icons">
                        <a href="{{ path('info_user', {'modify_id': habitant.getId()}) }}" class="modify-link">
                        <i class="fas fa-pencil-alt"></i>
                            <a href="{{ path('app_form', {'delete_id': habitant.getId()}) }}" class="delete-link">
                            <i class="fas fa-trash"></i>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <script>
    </script>
</body>
</html>
